
@{
    ViewData["Title"] = "AgregarPersonas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AgregarPersonas</h1>

<div ng-app="myApp" ng-controller="myCtrl">
    <label>Name:</label>
    <input type="text" ng-model="inputNombre" placeholder="Ingresa tu nombre">
    <hr>
    <label>Edad:</label>
    <input type="text" ng-model="inputEdad" placeholder="Ingresa tu edad">
    <hr>
    <label>Mail:</label>
    <input type="text" ng-model="inputMail" placeholder="Ingresa tu Mail">
    <hr />
    <input type="button"  value="InsertarPersona"/>
</div>