
@{
    ViewData["Title"] = "AgregarPersonas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AgregarPersonas</h1>

<div>
    <label>Name:</label>
    <input type="text" ng-model="inputNombre" placeholder="Ingresa tu nombre">
    <hr>
    <h1>Hello {{inputNombre}}</h1>
    <input type="text" ng-model="inputEdad" placeholder="Ingresa tu edad">
    <hr>
    <h1>Hello {{inputEdad}}</h1>
    <input type="text" ng-model="inputMail" placeholder="Ingresa tu Mail">
    <hr>
    <h1>Hello {{inputMail}}</h1>
</div>